{% load static i18n compress%}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <!-- Title -->
    <title>Project Pawz {% block page %}{% endblock page %}</title>
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->
    {% compress css %}
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/audioplayer.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/classy-nav.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/magnific-popup.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/one-music-icon.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel.min.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
    {% endcompress %}
    {% endblock %}

</head>
